{% extends "layout.html" %} {% block body %}
<h1 class="text-center">{{ this.name }}</h1>
{% for image in this.attachments.images %}
<div class="image mb-2"><img width="100px" src="{{ image|url }}" /></div>
{% endfor %}
<div>
  <h3>Date</h3>
  <p>{{ this.date|dateformat }} {% if this.website %}</p>

  <h3>Website</h3>
  <p>
    <a href="{{ this.website }}">{{ this.website.host }}</a>
    {% endif %}
  </p>
</div>

<h3>Description</h3>
<div class="description">{{ this.description }}</div>
{% endblock %}
